opencv-python-headless==4.10.0.84
numpy
pillow
requests
PySide6
platformdirs
websocket-client

torch
torchvision
tqdm
regex
Flask
PyYAML
scipy
pytest
setuptools
more-itertools
packaging
ipywidgets
protobuf
ipython
numba